.petlistheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.petlistheader h1 {
    margin: 0;
}

.petlistheader a {
    text-decoration: none;
    background-color: #16479d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
    border: 2px solid #16479d ;
}

.petlistheader a:hover {
    background-color: transparent;
    color: #16479d;
}

.petlistcontainer  {
    display: flex;
    flex-direction: column;
}

.petlistrow {
    border-bottom: 1px solid #16479d;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.petlistrow img {
    margin-right: 1em;
}

.petlistrow span {
    min-width: 100px;
}

.actions {
    margin-left: auto;
}

.actions a,
.actions button {
    text-decoration: none;
    background-color: #fff;
    color: #16479d;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #16479d ;
    font-size: 12px;
    margin-left: 1em;
}

.actions a:hover,
.actions button:hover {
    background-color: #16479d;
    color: #fff;
}

.actions .concludebtn{
    color: #25b456;
    border-color: #25b456;
}

.actions .concludebtn:hover{
    color: #fff;
    background-color: #25b456;
}

/* myadoptions */

.contacts {
    margin-left: 2em;
}

.contacts p {
    margin-bottom: 0.5em;
}